<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
    <form action="" method="POST">
        <label>Book Name</label>
        <input type="text" placeholder="Book name" name="title">
        <label>Book Author</label>
        <input type="text" placeholder="Author name" name="author">
        <label>Rating</label>
        <input type="text" placeholder="Rating out of 10" name="rating">
        <button type="submit">Add Book</button>
    </form>
</body>
</html>